DB_HOST =
DB_USER = postgres
DB_PASS =
DB_NAME =
DB_PORT = 5432

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SENDER_NAME=
SMTP_SENDER_EMAIL=
SMTP_AUTH_EMAIL=
SMTP_AUTH_PASSWORD=

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=
S3_BUCKET=

TRIPAY_PRIVATE_KEY=
TRIPAY_MERCHANT_CODE=
TRIPAY_API_KEY=

IS_PRODUCTION=